/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
}


body {
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 17px 0;
}

h2 {
    margin: 17px 0;
}


 p {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;

 }

table {
  width: 700px;
  border-spacing: 8px;
  line-height: 15px;
}

.title {
  width: 20%;
}

.body {
  /*background-color: green;*/
  width: 50%;
}

.link {
  width: 30%;
  text-align: center;
}

#notice {
  color: green;
}


.error_message {
  height: 150px;
  width: 500px;
  border: 2px solid red;
}

.error_list {
  margin: 30px 0 30px 50px;
  padding: 10px;
}

.error_explanation {
  background-color: red;
  color: #fff;
  font-size: 1em;
  padding: 5px;
}

label {
  display: block;
  margin-top: 10px;
}


.btn {
    box-sizing: border-box;
    height: 20px;
    background-color: rgb(239,239,239);
    border: 1px solid black;
    border-radius: 2px;
    width: 100px;
    margin: 10px 0;
    display: block;
}


.field_with_errors {
  background-color: red;
  padding: 3px;
  display: table;
}

